@charset "UTF-8";

/* Estilos para impressora */

* {
    margin: 10px; /* Adiciona uma margem de 10px em todos os elementos para evitar que o conteúdo fique muito próximo das bordas da página impressa */
    padding: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace; /* Altera a fonte para uma fonte monoespaçada, que é mais legível em impressão */
    font-size: 1.2em;
    line-height: 1.5em;
}
menu {
    display: none; /* Esconde o menu na impressão */
}
article {
    width: 100%; /* faz o artigo ocupar toda a largura da página impressa */
}
article::after {
    content: "Este artigo foi produzido por Lilia, para o exercício de media query";
}